@charset "utf-8";

/*                reset
======================================================= */
html,
bod {
    height: 100%;
    overflow-y: scroll;
}

body,
h1,
h2,
h3,
h4,
h5,
table,
th,
td,
ul,
li,
ol,
dl,
dt,
dd,
form,
p,
table,
th,
td {
    margin: 0px;
    padding: 0px;
    font-weight: normal;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    list-style-type: none;
    font-size: 100%;
}

body {
    color: #333333;
    background-color: #ffffff;
    font-family: "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Arial, sans-serif;
    line-height: 1.5;
    font-size: 16px;
    -webkit-text-size-adjust: none;
}



/*                footer
======================================================= */
#footer {
    background-color: #1b1b1b;
}

@media only screen and (max-width: 640px) {
    #footer .mainWidth .footerNv {
        display: none;
    }
}

#footer .mainWidth .footerNv a {
    color: white;
    font-weight: bold;
}

#footer .mainWidth .footerNv .top {
    border-bottom: 1px #e5e5e5 solid;
    text-align: center;
    padding: 0.9375em 0 0.8125em;
}

#footer .mainWidth .footerNv .btm > ul {
    overflow: hidden;
}

#footer .mainWidth .footerNv .btm > ul > li {
    float: left;
    text-align: center;
    width: 20%;
    padding-top: 1.25em;
}

#footer .mainWidth .footerNv .btm > ul > li > a {
    border-right: 1px #e5e5e5 solid;
    display: block;
    line-height: 1;
}

#footer .mainWidth .footerNv .btm > ul > li:first-child a {
    border-left: 1px #e5e5e5 solid;
}

#footer .mainWidth .footerNv .btm > ul > li > ul {
    margin-top: 1.25em;
}

#footer .mainWidth .footerNv .btm > ul > li > ul > li {
    margin-bottom: 0.375em;
}

#footer .mainWidth .footerNv .btm > ul > li > ul > li > a {
    font-size: 87.5%;
    font-weight: normal;
}

#footer .mainWidth p.copyright {
    color: white;
    font-size: 87.5%;
    text-align: center;
    padding: 2.357em 0 1em;
}

@media only screen and (max-width: 640px) {
    #footer .mainWidth p.copyright {
        padding: 1.5em 0;
    }
}

#footer .mainWidth p.copyright span {
    font-size: 80%;
}

