@charset "utf-8";

/*                reset
======================================================= */
html,
bod {
    height: 100%;
    overflow-y: scroll;
}

body,
h1,
h2,
h3,
h4,
h5,
table,
th,
td,
ul,
li,
ol,
dl,
dt,
dd,
form,
p,
table,
th,
td {
    margin: 0px;
    padding: 0px;
    font-weight: normal;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    list-style-type: none;
    font-size: 100%;
}

body {
    color: #333333;
    background-color: #ffffff;
    font-family: "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Arial, sans-serif;
    line-height: 1.5;
    font-size: 16px;
    -webkit-text-size-adjust: none;
}

@media only screen and (max-width: 1024px) {
    body {
        font-size: 14px;
    }
}

@media only screen and (max-width: 640px) {
    body {
        font-size: 12px;
    }
}

/* for IE6 */
* html body {
    font-size: 100%;
}

a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}

img {
    vertical-align: bottom;
    max-width: 100%;
    height: auto;
}

a img {
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}

input,
textArea,
select,
button {
    background: none;
    margin: 0px;
    padding: 0px;
    font-weight: normal;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    list-style-type: none;
    font-size: 16px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

p + p {
    margin-top: 1.5em;
}

/*                link
======================================================= */
a:link {
    color: #333333;
    text-decoration: none;
}

a:visited {
    color: #333333;
    text-decoration: none;
}

a:hover {
    color: #345eaa;
    text-decoration: underline;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
}

@media only screen and (max-width: 640px) {
    .tel-link {
        text-decoration: underline;
    }
}

/*                common
======================================================= */
.clear {
    overflow: hidden;
    *zoom: 1;
}

.clearBoth {
    clear: both;
}

.hidden {
    overflow: hidden;
}

/*                leyout
======================================================= */
#wrapper {
    overflow: hidden;
}

.mainWidth {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

@media only screen and (max-width: 1260px) {
    .mainWidth {
        max-width: 100%;
        padding: 0 30px;
    }
}

@media only screen and (max-width: 768px) {
    .mainWidth {
        padding: 0 20px;
    }
}

@media only screen and (max-width: 640px) {
    .mainWidth {
        padding: 0 15px;
    }
}

.contWidth {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
}

.contWidth .contIn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 780px;
}

.bgGray {
    background-color: #ececec;
}

/*                余白
======================================================= */
.mtAja1em + .mtAja1em {
    margin-top: 1em;
}

.mtAja2em + .mtAja2em {
    margin-top: 2em;
}

.mtAja1em + .mtAja3em,
.mtAja2em + .mtAja3em,
.mtAja3em + .mtAja3em {
    margin-top: 3em;
}

.mtAja3em + .mtAja4em,
.mtAja4em + .mtAja4em {
    margin-top: 4em;
}

.mtAja5em + .mtAja5em {
    margin-top: 5em;
}

/*                表示切り替え
======================================================= */
@media only screen and (min-width: 769px) {
    .pcNone {
        display: none !important;
    }
}

@media only screen and (max-width: 768px) {
    .tabNone {
        display: none !important;
    }
}

@media only screen and (max-width: 640px) {
    .spNone {
        display: none !important;
    }
}

/*                テキスト装飾
======================================================= */
.textR {
    text-align: right;
}

.textL {
    text-align: left;
}

.textC {
    text-align: center;
}

.textRed {
    color: #ff0000;
}

.textBold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.lato {
    font-family: "Lato", "arial", sans-serif;
}

.mintyo {
    font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
}

/*                table
======================================================= */
table {
    width: 100%;
    border-collapse: separate;
    border-collapse: collapse;
    border-spacing: 0;
}

table tr td,
table tr th {
    text-align: left;
    padding: 0px;
}

.ie7 table tr th,
.ie7 table tr td {
    position: relative;
}

/* 擬似テーブル */
.tableArea {
    border-top: 1px #e5e5e5 solid;
}

.tableArea .tableSet {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.tableArea .tableSet p + p {
    margin-top: 0;
}

.tableArea .tableSet p.th,
.tableArea .tableSet p.td {
    border-bottom: 1px #e5e5e5 solid;
    display: table-cell;
    vertical-align: top;
    padding: 1em 1.25em 0.875em;
}

@media only screen and (max-width: 640px) {

    .tableArea .tableSet p.th,
    .tableArea .tableSet p.td {
        display: block;
    }
}

.tableArea .tableSet p.th {
    background-color: #efefef;
    font-weight: bold;
    width: 12.5em;
}

@media only screen and (max-width: 768px) {
    .tableArea .tableSet p.th {
        width: 9em;
    }
}

@media only screen and (max-width: 640px) {
    .tableArea .tableSet p.th {
        width: 100%;
    }
}

.tableArea .tableSet p.td {
    width: 100%;
}

@media only screen and (max-width: 640px) {
    .tableArea .tableSet p.td {
        padding-bottom: 1.5em;
    }
}

.tableArea .tableSet p.td span.textBold {
    display: block;
    margin-top: 1em;
}

.tableArea .tableSet p.td span.textBold.top {
    margin-top: 0;
}

/*                pageTop
======================================================= */
.pageTop {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1000;
}

@media only screen and (max-width: 1260px) {
    .pageTop {
        right: 30px;
    }
}

@media only screen and (max-width: 768px) {
    .pageTop {
        right: 20px;
    }
}

@media only screen and (max-width: 640px) {
    .pageTop {
        right: 15px;
    }
}

.pageTop a {
    display: block;
}

@media only screen and (max-width: 768px) {
    .pageTop img {
        width: 46px;
        height: 37px;
    }
}

@media only screen and (max-width: 480px) {
    .pageTop img {
        width: 31px;
        height: 25px;
    }
}

/*                カラム
======================================================= */
.row {
    margin-left: -15px;
    margin-right: -15px;
    overflow: hidden;
    margin-bottom: -15px;
}

@media only screen and (max-width: 1024px) {
    .row {
        margin-left: -8px;
        margin-right: -8px;
    }
}

@media only screen and (max-width: 768px) {
    .row {
        margin-left: -5px;
        margin-right: -5px;
    }
}

.row img {
    width: 100%;
}

.row .col1,
.row .col2,
.row .col3,
.row .col4,
.row .col5,
.row .col6,
.row .col7,
.row .col8,
.row .col9,
.row .col10,
.row .col11,
.row .col12 {
    float: left;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
}

@media only screen and (max-width: 1024px) {

    .row .col1,
    .row .col2,
    .row .col3,
    .row .col4,
    .row .col5,
    .row .col6,
    .row .col7,
    .row .col8,
    .row .col9,
    .row .col10,
    .row .col11,
    .row .col12 {
        padding-left: 8px;
        padding-right: 8px;
    }
}

@media only screen and (max-width: 768px) {

    .row .col1,
    .row .col2,
    .row .col3,
    .row .col4,
    .row .col5,
    .row .col6,
    .row .col7,
    .row .col8,
    .row .col9,
    .row .col10,
    .row .col11,
    .row .col12 {
        padding-left: 5px;
        padding-right: 5px;
    }
}

.row .tab1,
.row .tab2,
.row .tab6 {
    float: left;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

@media only screen and (max-width: 1024px) {

    .row .tab1,
    .row .tab2,
    .row .tab6 {
        padding-left: 8px;
        padding-right: 8px;
    }
}

@media only screen and (max-width: 768px) {

    .row .tab1,
    .row .tab2,
    .row .tab6 {
        padding-left: 5px;
        padding-right: 5px;
    }
}

.square {
    overflow: hidden;
}

.square .col1,
.square .col2,
.square .col3,
.square .col4,
.square .col5,
.square .col6,
.square .col7,
.square .col8,
.square .col9,
.square .col10,
.square .col11,
.square .col12 {
    float: left;
    min-height: 1px;
    padding: 0;
    margin-bottom: 0;
}

.col12 {
    width: 100%;
}

.col11 {
    width: 91.66666667%;
}

.col10 {
    width: 83.33333333%;
}

.col9 {
    width: 75%;
}

.col8 {
    width: 66.66666667%;
}

.col7 {
    width: 58.33333333%;
}

.col6 {
    width: 50%;
}

.col5 {
    width: 41.66666667%;
}

.col4 {
    width: 33.33333333%;
}

.col3 {
    width: 25%;
}

.col2 {
    width: 16.66666667%;
}

.col1 {
    width: 8.33333333%;
}

@media only screen and (max-width: 1024px) {
    .pc1024Col12 {
        width: 100%;
    }

    .pc1024Col6 {
        width: 50%;
    }

    .pc1024Col3 {
        width: 25%;
    }

    .pc1024Col2 {
        width: 16.66666667%;
    }
}

@media only screen and (max-width: 768px) {
    .tab12 {
        width: 100%;
    }

    .tab6 {
        width: 50%;
    }

    .tab4 {
        width: 33.33333333%;
    }
}

@media only screen and (max-width: 767px) {
    .sp12 {
        width: 100%;
    }

    .sp6 {
        width: 50%;
    }
}

@media only screen and (max-width: 480px) {
    .sps12 {
        width: 100%;
    }

    .sps6 {
        width: 50%;
    }
}

/*                iframeのレスポン化
======================================================= */
.frameRespon .fb_iframe_widget,
.frameRespon .fb_iframe_widget span,
.frameRespon .fb_iframe_widget iframe[style] {
    width: 100%important;
}

.gmap {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.gmap iframe,
.gmap object,
.gmap embed {
    border: none !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*                ヘッダー・サイド・フッター
======================================================= */
/*                header
======================================================= */
#header {
    border-top: 4px #345eaa solid;
    position: relative;
    padding: 21px 0 15px;
}

#header .mainWidth {
    overflow: hidden;
}

#header .mainWidth #hd_logo {
    float: left;
    width: 262px;
}

@media only screen and (max-width: 640px) {
    #header .mainWidth #hd_logo {
        width: 196px;
    }
}

@media only screen and (max-width: 480px) {
    #header .mainWidth #hd_logo {
        width: 150px;
    }
}

#header .mainWidth #hd_logo a {
    display: block;
}

#header .mainWidth #hd_logo a img {
    width: 100%;
}

#header .spMenu {
    display: inline-block;
    cursor: pointer;
    font-family: FontAwesome, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Arial, sans-serif;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -0.8em;
}

@media only screen and (min-width: 769px) {
    #header .spMenu {
        display: none;
    }
}

@media only screen and (max-width: 640px) {
    #header .spMenu {
        right: 15px;
    }
}

#header .spMenu p {
    overflow: hidden;
    width: 1px;
    height: 1px;
}

#header .spMenu:before {
    content: "\f0ca";
    font-size: 200%;
    color: #345eaa;
}

@media only screen and (min-width: 769px) {
    .gnavi {
        background-color: #345eaa;
        display: block !important;
    }

    .gnavi > ul {
        overflow: hidden;
    }

    .gnavi > ul > li {
        border-right: 1px #718ec3 solid;
        float: left;
        text-align: center;
        width: 20%;
    }

    .gnavi > ul > li:first-child {
        border-left: 1px #718ec3 solid;
    }

    .gnavi > ul > li > a {
        color: white;
        display: block;
        padding: 0.5625em 0 1.6875em;
    }

    .gnavi > ul > li > a:hover {
        background-color: #25498d;
        text-decoration: none;
    }

    .gnavi > ul > li > a:hover img {
        opacity: 1 !important;
    }

    .gnavi > ul > li > a img {
        position: relative;
        top: 0.5625em;
        margin-right: 1.25em;
    }

    .gnavi > ul > li > .balloon {
        display: none;
        max-width: 1200px;
        position: absolute;
        width: 100%;
        z-index: 1000;
    }

    .gnavi > ul > li > .balloon ul {
        overflow: hidden;
    }

    .gnavi > ul > li > .balloon ul li {
        background: url(/media/images/common/balloon_bg.png) repeat-x left top;
        border-top: 1px #718ec3 solid;
        float: left;
        text-align: center;
        max-width: 240px;
        width: 20%;
    }

    .gnavi > ul > li > .balloon ul li a {
        background: url(/media/images/common/balloon_border.gif) no-repeat left center;
        color: white;
        display: block;
        font-size: 87.5%;
        padding: 1.8125em 0 1.6875em;
    }

    .gnavi > ul > li > .balloon ul li a:hover {
        opacity: 0.8;
        text-decoration: none;
    }

    .gnavi > ul > li > .balloon ul li a img {
        height: 12px;
        position: relative;
        top: -5px;
        width: 10px;
        margin-right: 0.3em;
    }

    .gnavi > ul > li > .balloon ul li:first-child a {
        background: none;
    }

    .gnavi > ul > li > .balloon.balloon02 ul {
        width: 100%;
        margin-left: -20%;
    }

    /*
  .gnavi > ul > li > .balloon.balloon02 ul li {
    width: 16.6666666666666%;
  }
  */
    .gnavi > ul > li > .balloon.balloon02 ul li.nv0201,
    .gnavi > ul > li > .balloon.balloon02 ul li.nv0202 {
        width: 10%;
    }

    .gnavi > ul > li > .balloon.balloon02 ul li.nv0203,
    .gnavi > ul > li > .balloon.balloon02 ul li.nv0204,
    .gnavi > ul > li > .balloon.balloon02 ul li.nv0205,
    .gnavi > ul > li > .balloon.balloon02 ul li.nv0206,
    .gnavi > ul > li > .balloon.balloon02 ul li.nv0207 {
        width: 16%;
    }

    .gnavi > ul > li > .balloon.balloon05 {
        margin-left: -240px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 800px) {
    .gnavi > ul > li > a {
        padding: 0.7625em 0 1.4875em;
    }
}

@media only screen and (min-width: 769px) and (max-width: 900px) {
    .gnavi > ul > li > a img {
        margin-right: 0.7em;
    }
}

@media only screen and (min-width: 769px) and (max-width: 800px) {
    .gnavi > ul > li > a img {
        top: 0.25em;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {

    .gnavi > ul > li.nv01 a img.icon,
    .gnavi > ul > li.nv02 a img.icon {
        width: 31px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 800px) {

    .gnavi > ul > li.nv01 a img.icon,
    .gnavi > ul > li.nv02 a img.icon {
        width: 27px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {

    .gnavi > ul > li.nv03 a img.icon,
    .gnavi > ul > li.nv05 a img.icon {
        width: 40px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 800px) {

    .gnavi > ul > li.nv03 a img.icon,
    .gnavi > ul > li.nv05 a img.icon {
        width: 35px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .gnavi > ul > li.nv04 a img.icon {
        width: 38px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 800px) {
    .gnavi > ul > li.nv04 a img.icon {
        width: 33px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1260px) {
    .gnavi > ul > li > .balloon {
        max-width: 100%;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1260px) {
    .gnavi > ul > li > .balloon ul {
        width: 100%;
        padding: 0 30px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .gnavi > ul > li > .balloon ul li a {
        font-size: 87.5%;
    }
}

@media only screen and (min-width: 769px) and (max-width: 900px) {
    .gnavi > ul > li > .balloon ul li a {
        font-size: 75%;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .gnavi > ul > li > .balloon ul li a img {
        height: 9px;
        width: 6px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 900px) {
    .gnavi > ul > li > .balloon ul li a img {
        height: 8px;
        width: 5px;
        margin-right: 0.1em;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1260px) {
    .gnavi > ul > li > .balloon.balloon02 ul {
        margin-left: 0;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1260px) {

    .gnavi > ul > li > .balloon.balloon01,
    .gnavi > ul > li > .balloon.balloon02 {
        left: 0;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1260px) {
    .gnavi > ul > li > .balloon.balloon04 {
        margin-left: -30px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1260px) {
    .gnavi > ul > li > .balloon.balloon05 {
        margin-left: -21.5%;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1180px) {
    .gnavi > ul > li > .balloon.balloon05 {
        margin-left: -21.6%;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .gnavi > ul > li > .balloon.balloon05 {
        margin-left: -21.8%;
    }
}

@media only screen and (min-width: 769px) and (max-width: 950px) {
    .gnavi > ul > li > .balloon.balloon05 {
        margin-left: -22%;
    }
}

@media only screen and (min-width: 769px) and (max-width: 850px) {
    .gnavi > ul > li > .balloon.balloon05 {
        margin-left: -22.2%;
    }
}

@media only screen and (max-width: 768px) {
    .gnavi {
        background-color: #345eaa;
        display: none;
        position: absolute;
        text-align: center;
        z-index: 1000;
        width: 100%;
    }

    .gnavi > ul {
        padding: 0;
    }

    .gnavi > ul > li > a {
        display: block;
        font-size: 116.7%;
        color: white;
        padding: 10px 0 8px;
    }

    .gnavi > ul > li > a:hover {
        text-decoration: none;
    }

    .gnavi > ul > li > a img {
        height: 20px;
        position: relative;
        top: -2px;
        width: auto;
        margin-right: 0.5em;
    }

    .gnavi > ul > li .balloon {
        display: block !important;
    }

    .gnavi > ul > li .balloon ul {
        background-color: white;
        overflow: hidden;
    }

    .gnavi > ul > li .balloon ul li {
        border-right: 1px #e5e5e5 solid;
        border-bottom: 1px #e5e5e5 solid;
        float: left;
        width: 50%;
    }

    .gnavi > ul > li .balloon ul li a {
        display: block;
        padding: 8px 0 6px;
    }

    .gnavi > ul > li .balloon ul li a:hover {
        color: #333333;
        text-decoration: none;
    }

    .gnavi > ul > li .balloon ul li.nv0102,
    .gnavi > ul > li .balloon ul li.nv0104,
    .gnavi > ul > li .balloon ul li.nv0202,
    .gnavi > ul > li .balloon ul li.nv0204,
    .gnavi > ul > li .balloon ul li.nv0402 {
        border-right: none;
    }

    .gnavi > ul > li .balloon ul li.nv0105,
    .gnavi > ul > li .balloon ul li.nv0401,
    .gnavi > ul > li .balloon ul li.nv0401,
    .gnavi > ul > li .balloon ul li.nv0402 {
        border-bottom: none;
    }

    .gnavi > ul > li .balloon ul li.nv0402 {
        width: 100%;
    }

    .gnavi > ul > li.nv03 {
        border-bottom: 1px #e5e5e5 solid;
    }
}

#spMenu {
    display: none;
}

@media only screen and (max-width: 768px) {
    #spMenu {
        cursor: pointer;
        display: block;
        position: absolute;
        top: 11px;
        right: 5px;
        padding: 15px;
    }

    #spMenu img {
        height: 30px;
        width: 30px;
    }
}

@media only screen and (max-width: 768px) and (max-width: 640px) {
    #spMenu {
        top: 6px;
        right: 0;
    }
}

@media only screen and (max-width: 768px) and (max-width: 480px) {
    #spMenu {
        top: 5px;
    }
}

@media only screen and (max-width: 768px) and (max-width: 480px) {
    #spMenu img {
        height: 25px;
        width: 25px;
    }
}

/*                sidebar
======================================================= */

/*                etab
======================================================= */
#product.e_tab #mainArea .feature + .feature {
    margin-top: 50px;
}

/*                footer
======================================================= */
#footer {
    background-color: #1b1b1b;
}

@media only screen and (max-width: 640px) {
    #footer .mainWidth .footerNv {
        display: none;
    }
}

#footer .mainWidth .footerNv a {
    color: white;
    font-weight: bold;
}

#footer .mainWidth .footerNv .top {
    border-bottom: 1px #e5e5e5 solid;
    text-align: center;
    padding: 0.9375em 0 0.8125em;
}

#footer .mainWidth .footerNv .btm > ul {
    overflow: hidden;
}

#footer .mainWidth .footerNv .btm > ul > li {
    float: left;
    text-align: center;
    width: 20%;
    padding-top: 1.25em;
}

#footer .mainWidth .footerNv .btm > ul > li > a {
    border-right: 1px #e5e5e5 solid;
    display: block;
    line-height: 1;
}

#footer .mainWidth .footerNv .btm > ul > li:first-child a {
    border-left: 1px #e5e5e5 solid;
}

#footer .mainWidth .footerNv .btm > ul > li > ul {
    margin-top: 1.25em;
}

#footer .mainWidth .footerNv .btm > ul > li > ul > li {
    margin-bottom: 0.375em;
}

#footer .mainWidth .footerNv .btm > ul > li > ul > li > a {
    font-size: 87.5%;
    font-weight: normal;
}

#footer .mainWidth p.copyright {
    color: white;
    font-size: 87.5%;
    text-align: center;
    padding: 2.357em 0 1em;
}

@media only screen and (max-width: 640px) {
    #footer .mainWidth p.copyright {
        padding: 1.5em 0;
    }
}

#footer .mainWidth p.copyright span {
    font-size: 80%;
}

/*                20200430
======================================================= */
.blueBtn {
    text-align: center;
}

.blueBtn a {
    background-color: #345eaa;
    color: white;
    display: inline-block;
    padding: 0.875em 4em 0.75em;
    margin-top: 1.9375em;
}

.blueBtn a img {
    position: relative;
    top: -0.375em;
    margin-left: 0.5em;
}
