@charset "UTF-8";
/*=====================================================

		リセット

======================================================*/

html, body, div, span, applet, object, iframe, strong, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, legend, caption, tbody, tfoot, thead, table, label, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-style: inherit;
	font-family: inherit;
	vertical-align: baseline;
	list-style: none;
}

ul {
	letter-spacing: -1em;
	word-spacing: -1em;
}

:root ul {
	letter-spacing: -1px;
	word-spacing: -1px;
}

li {
	letter-spacing: normal;
	word-spacing: normal;
	*display: inline;
	*zoom: 1;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.table {
	border-collapse: collapse;
	border-spacing: 0;
	text-align: left;
	color: #111;
	letter-spacing: 0;
	border-top: 1px solid #999;
}

.table tr {
	border-bottom: 1px solid #999;
}

.table th {
	padding: 8px 25px;
	vertical-align: middle;
	background: rgba(0, 0, 0, .05);
	border: 1px solid #999;
}

.table td {
	padding: 8px 25px;
	border: 1px solid #999;
}

figure {
	margin: 0;
}

img, iframe, video {
	vertical-align: bottom;
}

iframe, video {
	width: 100%;
}

/*=====================================================

		メイン設定

======================================================*/

a {
	text-decoration: none;
	color: #333;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	cursor: pointer;
}

a:hover {
	color: rgba(0, 0, 0, .5);
}

a img {
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}

a:hover img {
	opacity: 0.5;
	filter: alpha(opacity=50);
	-ms-filter: "alpha( opacity=50 )";
}

.clear:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	height: 1px;
	font-size: 1px;
}

.clear-hidden {
	overflow: hidden;
}

/*=================================================

		共通設定

==================================================*/

.wrap {
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	text-align: center;
}

.row {
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.m-auto {
	margin-left: auto;
	margin-right: auto;
}

.center {
	text-align: center;
}

.text-l {
	text-align: left;
}

.text-r {
	text-align: right;
}

.float-l {
	float: left;
}

.float-r {
	float: right;
}

/*=================================================

		横幅

==================================================*/

.w45p {
	width: 45%;
}

.w48p {
	width: 48%;
}

.w125 {
	width: 125px;
}

.w160 {
	width: 160px;
}

.w230 {
	width: 230px;
}

.w330 {
	width: 330px;
}

.w430 {
	width: 430px;
}

.w450 {
	width: 450px;
}

.w480 {
	width: 480px;
}

.w500 {
	width: 500px;
}

.w600 {
	width: 600px;
}

.w650 {
	width: 650px;
}

.w700 {
	width: 700px;
}

.w750 {
	width: 750px;
}

.w900 {
	width: 900px;
}

.w910 {
	width: 910px;
}

.w960 {
	width: 960px;
}

.w970 {
	width: 970px;
}

.w1040 {
	width: 1040px;
}

/*=================================================

		パディング

==================================================*/


.pt-0 {
	padding-top: 0px;
}

.pt-5 {
	padding-top: 5px;
}

.pt-10 {
	padding-top: 10px;
}

.pt-20 {
	padding-top: 20px;
}

.pt-30 {
	padding-top: 30px;
}

.pt-40 {
	padding-top: 40px;
}

.pt-50 {
	padding-top: 50px;
}

.pt-60 {
	padding-top: 60px;
}

.pt-70 {
	padding-top: 70px;
}

.pt-80 {
	padding-top: 80px;
}

.pt-90 {
	padding-top: 90px;
}

.pt-100 {
	padding-top: 100px;
}

.pt-120 {
	padding-top: 120px;
}

.pt-140 {
	padding-top: 140px;
}

.pt-180 {
	padding-top: 180px;
}

.pb-5 {
	padding-bottom: 5px;
}

.pb-10 {
	padding-bottom: 10px;
}

.pb-15 {
	padding-bottom: 15px;
}

.pb-20 {
	padding-bottom: 20px;
}

.pb-30 {
	padding-bottom: 30px;
}

.pb-40 {
	padding-bottom: 40px;
}

.pb-50 {
	padding-bottom: 50px;
}

.pb-60 {
	padding-bottom: 60px;
}

.pb-70 {
	padding-bottom: 70px;
}

.pb-80 {
	padding-bottom: 80px;
}

.pb-90 {
	padding-bottom: 90px;
}

.pb-100 {
	padding-bottom: 100px;
}

.pl-5 {
	padding-left: 5px;
}

.pl-10 {
	padding-left: 10px;
}

.pl-15 {
	padding-left: 15px;
}

.pl-20 {
	padding-left: 20px;
}

.pr-5 {
	padding-right: 5px;
}

.pr-10 {
	padding-right: 10px;
}

.pr-15 {
	padding-right: 15px;
}

.pr-20 {
	padding-right: 20px;
}

/*=================================================

		マージン

==================================================*/

.m-10 {
	margin: 10px;
}

.mb-10 {
	margin-bottom: 10px;
}

.mb-20 {
	margin-bottom: 20px;
}

.mb-30 {
	margin-bottom: 30px;
}

.mb-40 {
	margin-bottom: 40px;
}

.mb-50 {
	margin-bottom: 50px;
}

.mb-60 {
	margin-bottom: 60px;
}

.mb-70 {
	margin-bottom: 70px;
}

.mb-80 {
	margin-bottom: 80px;
}

.mb-90 {
	margin-bottom: 90px;
}

.mb-100 {
	margin-bottom: 100px;
}

.mt--10 {
	margin-top: -10px;
}

.mt-10 {
	margin-top: 10px;
}

.mt-15 {
	margin-top: 15px;
}

.mt-20 {
	margin-top: 20px;
}

.mt-30 {
	margin-top: 30px;
}

.mt-40 {
	margin-top: 40px;
}

.mt-50 {
	margin-top: 50px;
}

.mt-60 {
	margin-top: 60px;
}

.mt-70 {
	margin-top: 70px;
}

.mt-80 {
	margin-top: 80px;
}

.mt-90 {
	margin-top: 90px;
}

.mt-100 {
	margin-top: 100px;
}

.ml-10 {
	margin-left: 10px;
}

.ml-20 {
	margin-left: 20px;
}

.ml-30 {
	margin-left: 30px;
}

.ml-40 {
	margin-left: 40px;
}

.ml-50 {
	margin-left: 50px;
}

.ml-80 {
	margin-left: 80px;
}

.mr-5 {
	margin-right: 5px;
}

.mr-10 {
	margin-right: 10px;
}

.mr-20 {
	margin-right: 20px;
}

.mr-30 {
	margin-right: 30px;
}

.mr-40 {
	margin-right: 40px;
}

.mt--30 {
	margin-top: -30px;
}

.ml--50 {
	margin-left: -50px;
}

.letter-none {
	letter-spacing: 0;
}

.shadow {
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
	-o-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
	-ms-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
}

.anchor {
	padding-top: 120px;
	margin-top: -120px;
}

.radius, .radius img {
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
}

.f-18 {
	font-size: 18px;
}

/*=================================================

		ヘッダー

==================================================*/

header {
	position: relative;
	width: 100%;
}

.header.fixed {
	margin-top: 0;
	top: 0;
	left: 0;
	position: fixed;
	height: 70px;
	width: 100%;
	border-top: none;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
}

.navigation-wrap {
	background: url(../images/parts/header-back.jpg) bottom center repeat-x;
	height: 180px;
	padding: 0;
	margin: 0 auto;
	position: relative;
	z-index: 20;
}

.logo {
	position: relative;
	z-index: 100;
	line-height: 1;
}

.logo img {
	height: 180px;
}

.navigation {
	display: block;
}

.horizontal {
	display: none;
}

.g_menu ul li {
	float: left;
}

.navigation li {
	display: inline-block;
	padding-right: 28px;
}

.navigation li:last-child {
	padding-right: 0px;
}

.navigation li img {
	vertical-align: middle;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}

.navigation a:hover {
	text-decoration: none;
}

.navigation li a:hover img {
	opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter: "alpha( opacity=100 )";
}

.reservation {
	position: absolute;
	right: 0;
	top: 32px;
}

.phone {
	position: absolute;
	right: 285px;
	top: 8px;
}

.horizontal {
	float: right;
}

.horizontal ul {
	float: left;
}

.horizontal li {
	float: left;
	padding-right: 36px;
}

.horizontal li:last-child {
	padding-right: 0px;
}

.horizontal img {
	vertical-align: middle;
}

.horizontal .reservation {
	top: 8px;
}

.header.fixed .navigation {
	display: none;
}

.header.fixed .horizontal {
	display: block;
	padding-top: 24px;
}

.header.fixed .navigation-wrap {
	padding-top: 0;
}

.header.fixed .logo {
	width: 220px;
	padding-top: 13px;
}

.header.fixed .logo img {
	height: 46px;
	width: auto;
}

.header.fixed .horizontal li a img {
	opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter: "alpha( opacity=100 )";
}

/*=================================================

		フッター

==================================================*/

footer {
	overflow: hidden;
	width: 100%;
	letter-spacing: 0.03em;
	position: relative;
	color: #FFF;
	border-top: #7D2426 6px solid;
	background: url(../images/parts/footer-back.jpg) top center repeat;
}

.footer-content {
	padding: 50px 0 30px;
	text-align: center;
}

.footer-logo {
	padding-bottom: 20px;
}

.footer-content p {
	font-size: 15px;
	letter-spacing: 0;
}

.footer-text p {
	color: #FFF;
}

.footer-menu {
	width: 100%;
	text-align: center;
	padding: 80px 0 20px;
	color: #1D1A13;
}

.footer-menu li {
	display: inline-block;
	font-size: 16px;
}

.footer-menu li a {
	padding: 10px 20px 0;
	color: #1D1A13;
}

.footer-menu li a:hover {
	color: #444;
	text-decoration: underline;
}

.copyright {
	padding: 20px 0;
	text-align: center;
	margin-top: -5px;
	background: #070604;
	letter-spacing: 0;
	line-height: 1;
}

.copyright p {
	color: #DDD;
	padding: 0;
	font-size: 12px;
	line-height: 1;
}