@charset "UTF-8";
/*=====================================================

		リセット

======================================================*/

html, body, div, span, applet, object, iframe, strong, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, legend, caption, tbody, tfoot, thead, table, label, tr, th, td {
	margin: 0;
	padding: 0;
	/* border: 0; */
	outline: 0;
	font-style: inherit;
	font-family: inherit;
	vertical-align: baseline;
	list-style: none;
}

ul {
	letter-spacing: -1em;
	word-spacing: -1em;
}

:root ul {
	letter-spacing: -1px;
	word-spacing: -1px;
}

li {
	letter-spacing: normal;
	word-spacing: normal;
	*display: inline;
	*zoom: 1;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	border: #070604;
	border-top-color: rgb(0, 0, 0);
}

.table {
	border-collapse: collapse;
	border-spacing: 0;
	text-align: left;
	color: #111;
	letter-spacing: 0;
	border-top: 1px solid #999;
}

.table tr {
	border-bottom: 1px solid #999;
}

.table th {
	padding: 8px 25px;
	vertical-align: middle;
	background: rgba(0, 0, 0, .05);
	border: 1px solid #999;
}

.table td {
	padding: 8px 25px;
	border: 1px solid #999;
}

figure {
	margin: 0;
}

img, iframe, video {
	vertical-align: bottom;
}

iframe, video {
	width: 100%;
}

/*=====================================================

		フォント

======================================================*/

@font-face {
	font-family: "Hannari";
	font-style: normal;
	font-weight: normal;
	src: url("font/hannari.woff2") format('woff2'), url("font/hannari.woff") format('woff'), url("font/hannari.eot?") format('eot'), url("font/hannari.ttf") format('truetype');
}

@font-face {
	font-family: "Hannari-tate";
	font-style: normal;
	font-weight: normal;
	src: url("font/Hannari-tate.woff2") format('woff2'), url("font/Hannari-tate.woff") format('woff'), url("font/Hannari-tate.eot?") format('eot'), url("font/Hannari-tate.ttf") format('truetype');
}

@font-face {
	font-family: "ipa";
	font-style: normal;
	font-weight: normal;
	src: url("font/ipa.woff2") format('woff2'), url("font/ipa.woff") format('woff'), url("font/ipa.eot?") format('eot'), url("font/ipa.ttf") format('truetype');
}

body {
	font-family: "Hannari", "Hannari-tate", "ipa", Georgia, 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", HGS明朝E, メイリオ, Meiryo, serif;
	letter-spacing: 0.1rem;
	line-height: 1.5;
}

.font-large {
	font-size: 1.2rem;
}

.font-small {
	font-size: 0.8rem;
}

.table-title {
	font-size: 1.2rem;
	font-weight: bold;
}

.f-18 {
	font-size: 18px;
}

/*=====================================================

		メイン設定

======================================================*/

a {
	text-decoration: none;
	color: #333;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	cursor: pointer;
}

a:hover {
	color: rgba(0, 0, 0, .5);
}

a img {
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}

a:hover img {
	opacity: 0.5;
	filter: alpha(opacity=50);
	-ms-filter: "alpha( opacity=50 )";
}

.clear:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	height: 1px;
	font-size: 1px;
}

.clear-hidden {
	overflow: hidden;
}

/*=================================================

		共通設定

==================================================*/

.wrap {
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	text-align: center;
}

.row {
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

/*=================================================

		配置

==================================================*/

.m-auto {
	margin-left: auto;
	margin-right: auto;
}

.center {
	text-align: center;
}

.text-l {
	text-align: left;
}

.text-r {
	text-align: right;
}

.float-l {
	float: left;
}

.float-r {
	float: right;
}

.inline-block {
	display: inline-block;
}

.inline-block-top {
	display: inline-block;
	vertical-align: top;
}

.inline-block-middle {
	display: inline-block;
	vertical-align: middle;
}

/*=================================================

		横幅

==================================================*/

.w20p {
	width: 20%;
}

.w32p {
	width: 32%;
}

.w45p {
	width: 45%;
}

.w48p {
	width: 48%;
}

.w50p {
	width: 50%;
}

.w80p {
	width: 80%;
}

.w125 {
	width: 125px;
}

.w160 {
	width: 160px;
}

.w230 {
	width: 230px;
}

.w330 {
	width: 330px;
}

.w430 {
	width: 430px;
}

.w450 {
	width: 450px;
}

.w480 {
	width: 480px;
}

.w500 {
	width: 500px;
}

.w600 {
	width: 600px;
}

.w650 {
	width: 650px;
}

.w700 {
	width: 700px;
}

.w750 {
	width: 750px;
}

.w900 {
	width: 900px;
}

.w910 {
	width: 910px;
}

.w960 {
	width: 960px;
}

.w970 {
	width: 970px;
}

.w1040 {
	width: 1040px;
}

.w1280 {
	width: 1280px;
}

.min-w1280 {
	min-width: 1280px;
}

/*=================================================

		高さ

==================================================*/

.h600 {
	height: 600px;
}

/*=================================================

		画像サイズ

==================================================*/

.eye-catch {
	width: 100%;
	max-height: 650px;
}

.header-logo img {
	height: 100px;
}

.footer-logo img {
	height: 180px;
}

.thum-img {
	width: 640px;
}

.img-large {
	width: 700px;
}

.img-semilarge {
	width: 550px; 
}

.img-middle {
	width: 400px;
}

.img-small {
	width: 200px;
}

video {
	object-fit: cover;
}

/*=================================================

		パディング

==================================================*/

.pt-0 {
	padding-top: 0px;
}

.pt-5 {
	padding-top: 5px;
}

.pt-10 {
	padding-top: 10px;
}

.pt-20 {
	padding-top: 20px;
}

.pt-30 {
	padding-top: 30px;
}

.pt-40 {
	padding-top: 40px;
}

.pt-50 {
	padding-top: 50px;
}

.pt-60 {
	padding-top: 60px;
}

.pt-70 {
	padding-top: 70px;
}

.pt-80 {
	padding-top: 80px;
}

.pt-90 {
	padding-top: 90px;
}

.pt-100 {
	padding-top: 100px;
}

.pt-120 {
	padding-top: 120px;
}

.pt-140 {
	padding-top: 140px;
}

.pt-180 {
	padding-top: 180px;
}

.pb-5 {
	padding-bottom: 5px;
}

.pb-10 {
	padding-bottom: 10px;
}

.pb-15 {
	padding-bottom: 15px;
}

.pb-20 {
	padding-bottom: 20px;
}

.pb-30 {
	padding-bottom: 30px;
}

.pb-40 {
	padding-bottom: 40px;
}

.pb-50 {
	padding-bottom: 50px;
}

.pb-60 {
	padding-bottom: 60px;
}

.pb-70 {
	padding-bottom: 70px;
}

.pb-80 {
	padding-bottom: 80px;
}

.pb-90 {
	padding-bottom: 90px;
}

.pb-100 {
	padding-bottom: 100px;
}

.pb-120 {
	padding-bottom: 120px;
}

.pl-5 {
	padding-left: 5px;
}

.pl-10 {
	padding-left: 10px;
}

.pl-10p {
	padding-left: 10%;
}

.pl-15 {
	padding-left: 15px;
}

.pl-20 {
	padding-left: 20px;
}

.pl-20p {
	padding-left: 20%;
}

.pr-5 {
	padding-right: 5px;
}

.pr-10 {
	padding-right: 10px;
}

.pr-15 {
	padding-right: 15px;
}

.pr-20 {
	padding-right: 20px;
}

.pr-20p {
	padding-right: 20%;
}

.pr-30 {
	padding-right: 22px;
}

/*=================================================

		マージン

==================================================*/

.m-10 {
	margin: 10px;
}

.mt-10 {
	margin-top: 10px;
}

.mt-15 {
	margin-top: 15px;
}

.mt-20 {
	margin-top: 20px;
}

.mt-30 {
	margin-top: 30px;
}

.mt-40 {
	margin-top: 40px;
}

.mt-50 {
	margin-top: 50px;
}

.mt-60 {
	margin-top: 60px;
}

.mt-70 {
	margin-top: 70px;
}

.mt-80 {
	margin-top: 80px;
}

.mt-90 {
	margin-top: 90px;
}

.mt-100 {
	margin-top: 100px;
}

.mt-120 {
	margin-top: 120px;
}

.mt--10 {
	margin-top: -10px;
}

.mb-10 {
	margin-bottom: 10px;
}

.mb-20 {
	margin-bottom: 20px;
}

.mb-30 {
	margin-bottom: 30px;
}

.mb-40 {
	margin-bottom: 40px;
}

.mb-50 {
	margin-bottom: 50px;
}

.mb-60 {
	margin-bottom: 60px;
}

.mb-70 {
	margin-bottom: 70px;
}

.mb-80 {
	margin-bottom: 80px;
}

.mb-90 {
	margin-bottom: 90px;
}

.mb-100 {
	margin-bottom: 100px;
}

.mb-120 {
	margin-bottom: 120px;
}

.ml-10 {
	margin-left: 10px;
}

.ml-20 {
	margin-left: 20px;
}

.ml-30 {
	margin-left: 30px;
}

.ml-40 {
	margin-left: 40px;
}

.ml-50 {
	margin-left: 50px;
}

.ml-50p {
	margin-left: 50%;
}

.ml-80 {
	margin-left: 80px;
}

.mr-5 {
	margin-right: 5px;
}

.mr-10 {
	margin-right: 10px;
}

.mr-20 {
	margin-right: 20px;
}

.mr-30 {
	margin-right: 30px;
}

.mr-40 {
	margin-right: 40px;
}

.mr-50 {
	margin-right: 50px;
}

.mt--30 {
	margin-top: -30px;
}

.ml--50 {
	margin-left: -50px;
}



/*=================================================

		ヘッダー

==================================================*/

header {
	position: relative;
	width: 100%;
}

.navigation-wrap {
	background-color: #010032;
	height: 110px;
	padding: 0;
	margin: 0 auto;
	position: relative;
	z-index: 20;
	color: #FFFFFF;
}

.navigation-wrap a {
	color: #FFFFFF;
}

.header-logo {
	display: inline-block;
	z-index: 100;
	line-height: 1;
}

.header-text {
	position: absolute;
	display: inline-block;
	top: 40%;
}

.g_menu {
	position: absolute;
	display: inline-block;
	bottom: 10px;
	right: 10px;
}

.g_menu ul li {
	float: left;
}

.g_menu ul li a {
	font-size: 1.1rem;
}

.g_menu li:last-child {
	padding-right: 0px;
}

.g_menu li img {
	vertical-align: middle;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}

.g_menu a:hover {
	text-decoration: none;
}

.g_menu li a:hover img {
	opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter: "alpha( opacity=100 )";
}

/*=================================================

		固定ヘッダー

==================================================*/

.header.fixed {
	margin-top: 0;
	top: 0;
	left: 0;
	position: fixed;
	height: 70px;
	width: 100%;
	border-top: none;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
}

.header.fixed .navigation {
	display: none;
}

.header.fixed .horizontal {
	display: block;
	padding-top: 24px;
}

.header.fixed .navigation-wrap {
	padding-top: 0;
}

.header.fixed .logo {
	width: 220px;
	padding-top: 13px;
}

.header.fixed .logo img {
	height: 46px;
	width: auto;
}

.header.fixed .horizontal li a img {
	opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter: "alpha( opacity=100 )";
}

/*=================================================

		フッター

==================================================*/

footer {
	overflow: hidden;
	width: 100%;
	height: 300px;
	margin-top: 50px;
	letter-spacing: 0.03em;
	position: relative;
	color: #FFF;
	background-color: #010032;
}

.footer-wrap {
	width: 900px;
	margin: 0 auto;
}

.footer-logo {
	padding-bottom: 20px;
}

.copyright {
	padding: 20px 0;
	text-align: center;
	margin-top: -5px;
	letter-spacing: 0;
	line-height: 1;
}

.copyright p {
	color: #DDD;
	padding: 0;
	font-size: 12px;
	line-height: 1;
}

.copyright a {
	color: #FFF;
}

/*=================================================

		アクセス

==================================================*/

.map {
	margin: 5px 50px 50px 50px;
	border: 5px solid #666;
	margin-bottom: 1em;
}

.car:before {
	content: url(../images/8.access/car.PNG);
	margin: 10px;
	position: relative;
	top: 8px;
}

.train:before {
	content: url(../images/8.access/train.png);
	margin: 10px;
	position: relative;
	top: 8px;
}

/*=================================================

		周辺案内

==================================================*/

.hiking-img {
	margin: 0 auto 60px !important;
}

.sight-title {
    border-bottom: 3px solid #010032;
}

/*=================================================

		日本庭園

==================================================*/

.bgr-gray {
	background-color: #f0f0f0;
}

/*=================================================

		客室

==================================================*/

.bgr-gray-normal {
	background-color: #d8d8d8;
}

/*=================================================

		館内施設

==================================================*/

.flex-center {
	margin: 0 auto 60px auto !important;
}

/*=================================================

		お問い合わせ

==================================================*/

.contact-title {
    border-bottom: 3px solid #010032;
}

#demo ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#demo li {
	list-style: none;
	margin: 0;
	padding: 6px;
	clear: both;
}

#demo label {
	display: block;
	font-weight: bold;
	color: #666;
}

#demo li span label {
	color: #999;
	font-weight: normal;
	font-size: 80%;
}

#demo input.field, #demo textarea {
	border: 1px solid #ddd;
	border-top-color: #ccc;
	border-left-color: #ccc;
	padding: 3px;
}

#demo #name {
	width: 100%;
	height: 50px;
}

#demo #email {
	width: 100%;
	height: 50px;
}

#demo textarea {
	width: 100%;
	height: 300px;
}

#demo #btn_submit {
	width: 100px;
	height: auto;
}

/*=================================================

		空室検索

==================================================*/

.search-wrapper {
	width: 100%;
	height: 130px;
	background: url("../images/parts/search-back.jpg") center center no-repeat;
}

.search {
	z-index: 100;
}

.search-wrap {
	width: 1180px;
	margin: 0 auto;
	text-align: left;
	box-sizing: border-box;
	position: relative;
	z-index: 50;
	padding-top: 7px;
	background-color: #010032;
	color: white;
}

.search-title {
	float: left;
	width: 260px;
	text-align: center;
}

.search-title h3 {
	padding-top: 38px;
}

.search-form {
	width: 920px;
	height: 116px;
	padding: 20px 0 0 25px;
	box-sizing: border-box;
	float: right;
}

.search-form p {
	float: left;
	padding: 5px 7px;
	font-size: 14px;
	color: white;
	display: inline-table;
}

.search-form p input, .search-form p select {
	margin-left: 10px;
	padding: 3px;
	vertical-align: middle;
}

.search-left {
	float: left;
	width: 655px;
}

.search-right {
	float: right;
	padding-top: 13px;
	padding-right: 28px;
}

.submit_btn {
	border: 0px;
	width: 160px;
	height: 56px;
	background: url(../images/img/top/search-btn.png) left top no-repeat;
}

.submit_btn:hover {
	cursor: pointer;
	opacity: 0.6;
}
